.table.table-borderless td, .table.table-borderless th {
  border: 0 !important;
}

.table.table-borderless {
  margin-bottom: 0px;
}
.floated {
  float:left;
  margin-right:5px;
}


#flex-container{
  display: flex;
  justify-content:center;
}

.card{
  height: auto;
}



