<div *ngIf="selectedMusic" style="margin-top: 20px;">
  <div class="card ">
    <div class="card-header">
 <img src="{{artworkUrl100 }}" class="rounded mx-auto d-block" alt="" width="200px" height="200px" style="margin-bottom: 10px;">
      </div>
    <div class="card-body">
    <table class="table table-borderless">
    <tbody>
    <tr>
      <th >Track /Collection Id:</th>
      <td>{{selectedMusic?.trackId  || selectedMusic?.collectionId}}</td>
    </tr>
    <tr>
      <th >Track /Collection Name:</th>
      <td>{{trackName || collectionName }}</td>
    </tr>
    <tr>
      <th >Artist Name :</th>
      <td>{{artistName}}</td>
    </tr>
    <tr>
      <th >Release Date</th>
      <td>{{releaseDate | date:'mediumDate'}}  </td>
    </tr>
    <tr>
      <th>Genre</th>
      <td>{{kind}}</td>
    </tr>
    <tr>
      <th>Preview :</th>
      <td><audio controls=""  name="media" src="{{previewUrl}}" type="audio/x-m4a"></audio></td>
    </tr>
    </tbody>
  </table>
  <div id="flex-container">
        <button type="button" class="btn btn-primary" (click)="addFav(selectedMusic)">Add to Favorite</button>
        <button type="button" class="btn btn-primary" (click)="detailRoute(selectedMusic.trackId)" style="margin-left: 10px;">More Detail</button>
  </div>
  </div>
  </div>
</div>
