.jumbotron {
  background: none;
  color: white;
}

.itemCount{
  text-align: center;
}

.cartMessage{
  margin-top: 20px;
  text-align: center;
  color: aquamarine;
  font-family: "Rage Italic";
  font-size:xx-large;
}

#container{
  display: flex;
 }

#container div{
  border:solid 1px white;
 padding:50px;
}

#containerOne{
  flex-grow: 5;
}

#containerTwo{
  flex-grow: 1;

}
