<div class="jumbotron">
  <table class="table table-striped">
    <thead>
    <tr>
      <th >Track id</th>
      <th >Track Name</th>
      <th >Unit Price</th>
      <th>Sum</th>
      <th></th>
    </tr>
    </thead>
    <tbody *ngFor="let item of items">
    <tr>
      <td>{{item.trackId }}</td>
      <td>{{item.trackName }}</td>
      <td>{{item.trackPrice }}</td>
      <td>{{item.sum}}</td>
      <td ><svg (click)="removeQty(item)" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <path d="M0 0h24v24H0z" fill="none"/>
        <path d="M7 11v2h10v-2H7zm5-9C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8z"/>
      </svg>
      <input  readonly="readonly" type="text" value="{{item.count}}" size="3"/>
     <svg (click)="addQty(item)" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <path d="M0 0h24v24H0z" fill="none"/>
        <path d="M13 7h-2v4H7v2h4v4h2v-4h4v-2h-4V7zm-1-5C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8z"/>
      </svg></td>
    </tr>
    </tbody>
  </table>

  <div class="">Total: ${{price}}</div>

  <button type="button" class="btn btn-primary" [disabled]="items.length===0" routerLink="/checkout" >Checkout</button>
</div>
