.image{
  height:50em; background-size:cover; width:auto;
  background-image:url('../assets/img/image2.jpg');
  opacity: 0.8;
  /*background-position:50% 50%;*/
  background-attachment: fixed;
  margin-top: -20px;

}

